body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

nav ul li {
  display: flex;
  margin: auto;
}

nav ul a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.banner {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-image: url('./images/chez-vous.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  color: white;
}

.logement-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
  background-color: lightgray;
  border-radius: 25px;

  justify-items: center;
  align-items: center;
}

.logement-item {
  background-color: #FF6060;
  text-align: center;
  width: 90%;
  height: 200px;
  padding: 20px;
  border-radius: 5px;

  display: flex;
  justify-content: left;
  align-items: end;
  color: white;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  height: 209px;
  background-color: black;
  color: white;
}

.footer img {
  width: 122px;
  height: 40px;
}
